@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    @if (Model.Handler != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <button type="button" class="btn float-right" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Error!</h4>
            <p>@Model.Handler</p>
        </div>
    }


    <div class="row">
        @foreach (var item in Model.ItemList)
        {
            <div class="col-auto">
                <div class="card">
                    <img src="@item.ImagePath" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title border-bottom pb-1">@item.Name</h5>
                        <p>€ @item.Price</p>
                        <p class="card-text fst-italic">@item.Description</p>
                        <p class="small text-dark-50">@item.Id</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>